.card h1,
h2 {
  font-family: var(--ff-Young-Serif);
  font-weight: 400;
  padding-block: 1rem;
}
h1 {
  color: var(--clr-neutral-900);
  font-size: 2rem;
}
.card h2 {
  color: var(--clr-primary-500);
}

.card p,
.card ul,
.card ol {
  font-family: var(--ff-Outfit);
  font-weight: 300;
  color: var(--clr-neutral-700);
  font-size: 16px;
}
.first-bold {
  font-weight: 600;
}
.card {
  margin-bottom: 2rem;
}
.card ul,
.card ol {
  padding-left: 1rem;
}
li::marker {
  color: var(--clr-primary-500);
  font-weight: 600;
  /* line-height:2.5rem; */
}
ul li::marker {
  font-size: 0.7rem;
  line-height: 2rem;
}
ol li {
  margin-bottom: 1rem;
}
.preparation-time {
  background-color: hsl(332, 51%, 32%, 0.03);
  padding: 2rem;
  border-radius: 4%;
  margin-top: 2rem;
  margin-top: 0rem;
}
.card.preparation-time h3 {
  font-family: var(--ff-Outfit);
  color: var(--clr-primary-700);
}
.content {
  margin-bottom:0;
}
